.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  padding: 1rem;
}
/* h1,
h2 {
  color: green;
  font-style: italic;
} */
.alertBox {
  font-size: 2rem;
  color: #0099cc;
  background-color: #d6f5ff;
  border: 0.3rem solid #0099cc;
  font-style: italic;
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}

.errorAlertBox {
  font-size: 2rem;
  color: #e4002c;
  background-color: #ffb4c2;
  border: 0.3rem solid #e4002c;
  font-style: italic;
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}
